.parent{
    display : flex;
    justify-content: center;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}

#purple{
    background-color: purple;
}

#orange{
    background-color: orange;
}

#blue{
    background-color: blue;
}

.button{
    height : 150px;
    width : 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    gap: 30px;
}